    
    <div class="row mx-2 my-4">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <nav class="d-flex">
                <ul class="p-0">
                    <li class="footer-nav"><a href="index.html" class="px-4 py-3 d-block">Home</a></li>
                    <li class="footer-nav"><a href="about.html" class="px-4 py-3 d-block">About</a></li>
                    <li class="footer-nav"><a href="music.html" class="px-4 py-3 d-block">Music</a></li>
                    <li class="footer-nav"><a href="salmar.html" class="px-4 py-3 d-block">SAL-MAR</a></li>
                    <li class="footer-nav"><a href="lsga.html" class="px-4 py-3 d-block">L'sGA</a></li>
                    <li class="footer-nav"><a href="collection.html" class="px-4 py-3 d-block">Digital Collection</a></li>
                    <li class="footer-nav"><a href="links.html" class="px-4 py-3 d-block">Links</a></li>
                    <li class="footer-nav"><a href="https://music.illinois.edu/martirano-award" class="px-4 py-3 d-block" target="_blank">Martirano Competition</a></li>
                </ul>
            </nav>
        </div>
    </div> <!-- row -->

<!--
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="tm-social-icons-container text-xs-center">
                <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-behance"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
-->


    <footer class="row mx-auto my-3">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    	    <p class="text-xs-center tm-copyright">Copyright &copy; 2018 Dorothy Martirano 
        	| Design: <a href="http://allenloves.github.io" target="_blank">Allen Wu</a> & John Martirano</p>
        </div>
    </footer>

