    
    <div class="row tm-nav-2-row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <nav class="tm-flex-center">
                <ul class="tm-nav-2">
                    <li class="tm-nav-item-2"><a href="index.html" class="tm-nav-link-2">Home</a></li>
                    <li class="tm-nav-item-2"><a href="about.html" class="tm-nav-link-2">About</a></li>
                    <li class="tm-nav-item-2"><a href="music.html" class="tm-nav-link-2">Music</a></li>
                    <li class="tm-nav-item-2"><a href="salmar.html" class="tm-nav-link-2">SAL-MAR</a></li>
                    <li class="tm-nav-item-2"><a href="lsga.html" class="tm-nav-link-2">L'sGA</a></li>
                    <li class="tm-nav-item-2"><a href="collection.html" class="tm-nav-link-2">Digital Collection</a></li>
                    <li class="tm-nav-item-2"><a href="links.html" class="tm-nav-link-2">Links</a></li>
                    <li class="tm-nav-item-2"><a href="https://music.illinois.edu/martirano-award" class="tm-nav-link-2" target="_blank">Martirano Competition</a></li>
                </ul>
            </nav>
        </div>
    </div> <!-- row -->

<!--
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="tm-social-icons-container text-xs-center">
                <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-behance"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
-->


    <footer class="row tm-footer">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    	    <p class="text-xs-center tm-copyright">Copyright &copy; 2018 Dorothy Martirano 
        	            
        	| Design: <a href="http://www.google.com/+templatemo" target="_parent"><a href="http://allenloves.github.io" target="_blank">Allen Wu</a> & Templatemo</p>
        </div>
    </footer>

