<!-- Header gallery -->
            <div class="row">
                <div class="col-lg-12">
                    <section class="tm-header-gallery">
                        
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                            <script type="text/javascript">
                                document.write(getBImageTag(0))
                            </script>              
                        </div>
                        
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                            
                            <div class="tm-site-name">
                                <h1 class="text-uppercase tm-site-name-h1"><center>{{site.title}}</center></h1>
                                <h2 class="tm-site-name-h2">by {{site.author}}</h2>    
                            </div>
                            
                            <img src="img/logo-bg.jpg" alt="Image" class="img-fluid tm-header-img">
                        </div>
                                        
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0">
                            <script type="text/javascript">
                                document.write(getBImageTag(1))
                            </script>                
                        </div>                
                        
                    </section>
                </div>
            </div>                
            
 
