<!-- load different pic each time -->

<script type="text/javascript">
    function shuffle(array) {
      var currentIndex = array.length, temporaryValue, randomIndex;

      // While there remain elements to shuffle...
      while (0 !== currentIndex) {
        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }
      return array;
    }

    //rectangular images
    var imageURLsB = shuffle({{site.data.bimg | split: ", " | array_to_sentence_string: ""}});

    //square images
    var imageURLsS = shuffle({{site.data.simg | split: ", " | array_to_sentence_string: ""}});

    function getBImageTag(inc) {
        var imgIndex=inc;
        var img = '<a href= "img/';
        img += imageURLsB[imgIndex];
        img += '">';
        img += '<img src="img/';
        img += imageURLsB[imgIndex];
        img += '"  alt="Image" class="img-fluid tm-header-img"></a>';
        return img;
     }

    function getSImageTag(inc) {
        var imgIndex=inc;
        var img = '<a href= "img/';
        img += imageURLsS[imgIndex];
        img += '">';
        img += '<img src="img/';
        img += imageURLsS[imgIndex];
        img += '"  alt="Image" class="img-fluid tm-header-img"></a>';
        return img;
     }
</script>
