
        <!-- load JS files -->
        <script src="js/jquery.min.js"></script>
        <!-- enable jquery migrate plugin to see the deprecation errors coming from Magnific Popup-->
        <!-- <script src="https://code.jquery.com/jquery-migrate-3.3.1.js"></script> -->

        <script src="js/popper.min.js"></script>  
        <script src="js/bootstrap.min.js"></script>  
        <script src="js/jquery.magnific-popup.min.js"></script>

        <script>     
            $(window).on("load",function(){

            $("nav.navbar").find(".active > a.nav-link").addClass("text-white");

            /* if we do ajax then this will be needed -jjm
            $("nav.navbar .nav-link").on("click", function(){
               $("nav.navbar").find(".active").removeClass("active");
               $(this).addClass("active");
            });
            */

            /* Gallery pop up
            -----------------------------------------*/
                $('.tm-header-gallery').magnificPopup({
                    delegate: 'a', // child items selector, by clicking on it popup will open
                    type: 'image',
                    gallery:{enabled:true}                
                });

                // Tabs
                // http://stackoverflow.com/questions/11645081/how-to-build-simple-tabs-with-jquery
                $('.tm-tab-content-box').hide();                
                //$('#tab1C').fadeIn('slow');
                $('#tab1C').show();

                $('.tm-tab-link').on("click",function(){
                  
                    var t = $(this).attr('id');
                    
                    $('.tm-tab-link').removeClass('active');
                    $(this).addClass('active');                    

                    $('.tm-tab-content-box').hide();
                    $('#'+ t + 'C').fadeIn('slow');
                
                });

                // Remove preloader
                // https://ihatetomatoes.net/create-custom-preloading-screen/
                $('body').addClass('loaded');
             });
        </script>  

        <script src="js/audio.min.js"></script>
        <script>
            audiojs.events.ready(function() {
                var as = audiojs.createAll();
            });
        </script>  
