
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white">
      <button class="navbar-toggler navbar-dark bg-primary" type="button" data-toggle="collapse" data-target="#sal-navbar" aria-controls="sal-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="sal-navbar">
        <ul class="navbar-nav mr-auto d-flex flex-fill">
          <li class="nav-item {% if page.name == "index.html" %} active {% endif %}">
            <a class="nav-link" href="index.html">Home </a>
          </li>
          <li class="nav-item {% if page.name == "about.html" %} active {% endif %}">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item {% if page.name == "music.html" %} active {% endif %}">
            <a class="nav-link" href="music.html">Music</a>
          </li>
          <li class="nav-item {% if page.name == "salmar.html" %} active {% endif %}">
            <a class="nav-link" href="salmar.html">SAL-MAR</a>
          </li>
          <li class="nav-item {% if page.name == "lsga.html" %} active {% endif %}">
            <a class="nav-link" href="lsga.html">L'sGA</a>
          </li>
          <li class="nav-item {% if page.name == "collection.html" %} active {% endif %}">
            <a class="nav-link" href="collection.html">Digital Collection</a>
          </li>
          <li class="nav-item {% if page.name == "links.html" %} active {% endif %}">
            <a class="nav-link" href="links.html">Links</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://music.illinois.edu/martirano-award" target="_blank">Martirano Award</a>
          </li>
<!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
-->
        </ul>
<!--
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search">
        </form>
-->
      </div>
    </nav>

