
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="music.html">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="salmar.html">SAL-MAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lsga.html">L'sGA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Digital Collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="links.html">Links</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://music.illinois.edu/martirano-award">Martirano Award</a>
          </li>
<!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search">
        </form>
-->
      </div>
    </nav>

