
<!-- Navigation -->
    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar">
                <div id="tmNavbar">
                    <div class="nav navbar-nav tm-nav">
                                
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                            <div class="nav-item {% if page.name == "index.html" %} active {% endif %}">
                                <a class="nav-link" href="index.html">Home</a>
                            </div>
                            <div class="nav-item {% if page.name == "about.html" %} active {% endif %}">
                                <a class="nav-link" href="about.html">About</a>
                            </div>    
                        </div>
                                
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item {% if page.name == "music.html" %} active {% endif %}">
                                    <a class="nav-link" href="music.html">Music</a>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item {% if page.name == "salmar.html" %} active {% endif %} ">
                                <a class="nav-link" href="salmar.html">SAL-MAR</a>
                            </div>    
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item {% if page.name == "lsga.html" %} active {% endif %} ">
                                <a class="nav-link" href="lsga.html">L'sGA</a>
                            </div>    
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-pad-0 tm-nav-item-pair">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item {% if page.name == "links.html" %} active {% endif %}">
                                <a class="nav-link" href="links.html">Links</a>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 nav-item {% if page.name == "award.html" %} active {% endif %} ">
                                <a class="nav-link" href="https://music.illinois.edu/martirano-award" target="_blank">Martirano Award</a>
                            </div>
                        </div>    
           
                    </div>    
                </div>                    
            </nav>     
        </div>
                   
    </div> <!-- row -->
