
<p class="p1"><span class="s1">Cocktail Music for Piano</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>Advance Records, David Burge, Soloist</span></p>
<p class="p2"><span class="s1"></span><br></p>

<p class="p1"><span class="s1">Underworld for 4 Actors, 4 Percussion, 2 String Basses, Tenor Sax, and 2 Channel Tape.</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>Heliodor "Music from the University of Illinois</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>David Gilbert conducting</span></p>
<p class="p2"><span class="s1"></span><br></p>

<p class="p1"><span class="s1">Ballad for Amplified Nite-Club Singer and Instrumental Ensemble,</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>Salvatore Martirano conducting</span></p>
<p class="p2"><span class="s1"></span><br></p>

<p class="p1"><span class="s1">OCTET for Flute, Bass Clarinet, Contra-Alto Clarinet, Marimba, Celesta,</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>Violin, Cello, and Contrabass, Salvatore Martirano conducting</span></p>
<p class="p2"><span class="s1"></span><br></p>

<p class="p1"><span class="s1">L's. G. A. for Gassed-Masked Politico, Helium Bomb, and 2 Channel Tape.</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>Politico: Michael Holloway</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>Polydor<span class="Apple-tab-span">	</span>245001</span></p>
<p class="p2"><span class="s1"><b><span class="Apple-tab-span">	</span></b></span></p>

<p class="p1"><span class="s1">Chansons Innocentes for Soprano and Piano</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>Candy Natvig, Soprano</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>Andres Marchand, Piano</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>Center for New Music</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>University of Iowa</span></p>
<p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>CRI #234</span></p>
<p class="p2"><span class="s1"></span><br></p>

<p class="p1"><span class="s1">STUCK ON STELLA<span class="Apple-converted-space">  </span>for piano</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">           </span>Kathleen Supove, pianist</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">           </span>Edition Bauer, Frankfurt, Germany</span></p>
<p class="p2"><span class="s1"></span><br></p>


